.nsc {
    background-image: url("../images/nsc.jpg");
   
    height: 1000px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: fill;
    position: relative;
  }
.tk{
    
   
    height: 1000px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: fill;
    position: relative;
    background-image: url("../images/tk.jpg");
}
.box-in {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }
.expcolor
{
    background-color: #87339e;
}
.custom-shape-divider-bottom-1625317705 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1625317705 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 150px;
}

.custom-shape-divider-bottom-1625317705 .shape-fill {
  fill: #a294ce;
}

