@font-face {
    font-family: "comic";
    src: url("../font/COMIC.TTF");
    
    }
p{
    font-family:  comic ;
    
 }
 p#pagelink{
     font-size:x-large;
 }
 span.head{
     font-weight: 900;
     font-size: large;
 }